<!DOCTYPE html>
<html lang="en">

<<head>
    <meta charset="UTF-8">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1 class='display-2'>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Click here to scrape new data</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class='display-4'>NEWS ARTICLES</h2>
        <br>
        <h3>{{mars_data['news'][0]['title']}}</h3>
        <p class='lead'>{{mars_data['news'][0]['p']}} </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">    
    <div class="row">
      <div class="col-md-8">
        <h2 class='display-4'>FEATURED IMAGE</h2>
        <br>
        <img src={{ mars_data.image }} class="img-fluid" alt="Responsive image" width=700px height=1000px>
      </div>
      <div class="col-md-4">
          <div class="row">
            <h2 class='display-4 text-right'>CURRENT WEATHER</h2>
            <br>
             <p class='lead text-right'> {{ mars_data.weather }}</p>
          </div>
          
          <div class='row'> 
              <h2 class='display-4 text-right'>MARS FACTS</h2>
              <table>{{mars_data['facts']|safe}}</table>
          </div>
      </div>
  </div>
  <hr>
  <div class='container'
    <div class="row">
      <div class="col-md-12" align="center">
        <h2 class='display-4'>MARS HEMISPHERES</h2>
      
    </div>

    <div class="row">
      <div class="col-md-6" align='center'>
        <img src={{ mars_data['hemisphere_img'][0]['img_url'] }} width=400px>
        <br>
        <p class='lead'><b>{{mars_data['hemisphere_img'][0]["title"]}}</b></p>
      </div>
      <div class="col-md-6" align='center'>
        <img src={{ mars_data['hemisphere_img'][1]["img_url"] }} width=400px>
        <br>
        <p class='lead'><b>{{mars_data['hemisphere_img'][1]["title"]}}</b></p>
      </div>   
    </div>

    <div class="row">
      <div class="col-md-6" align='center'>
        <img src={{ mars_data['hemisphere_img'][2]["img_url"] }} width=400px>
        <br>
        <p class='lead'><b>{{mars_data['hemisphere_img'][2]["title"]}}</b></p>
      </div>
      <div class="col-md-6" align='center'>
        <img src={{ mars_data['hemisphere_img'][3]["img_url"] }} width=400px>
        <br>
        <p class='lead'><b>{{mars_data['hemisphere_img'][3]["title"]}}</b></p>
      </div>   
    </div>
  
    

  </div>

  </body>

</html>